* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

form {
  margin: 2rem 0;

  .baseForm {
    margin-bottom: 1rem;
  }

  .dateFields {
    input {
      width: 75px;
    }
  }
}

.results {
}
